.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 88vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-container {
  margin-top: 0px;
}

.hero-div {
  margin-top: 75px;
}

.hero-div._2 {
  margin-top: 0%;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #14184b;
}

.hero-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 15px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(70, 124, 124, 0.21);
  border-radius: 5px;
  background-color: rgba(70, 124, 124, 0.21);
  color: #e6e6e6;
  font-weight: 600;
}

.hero-button:hover {
  background-color: #3f4dd1;
}

.hero-button.contact {
  margin-top: 50px;
}

.hero-button.contact.about {
  background-color: #36977c;
  font-size: 18px;
}

.hero-button.contact.about:hover {
  background-color: rgba(70, 124, 124, 0.21);
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.services {
  margin-top: 40px;
  grid-column-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image {
  width: 100%;
  height: 100%;
}

.body {
  background-color: #14184b;
  font-family: proxima-nova, sans-serif;
  color: #b9cec8;
  font-size: 18px;
  font-weight: 500;
}

.values-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.values-grid {
  margin-top: 40px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.values-grid._2 {
  margin-top: 50px;
}

.values-grid._3 {
  margin-top: 50px;
}

.values-grid._1 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block._2 {
  height: 180px;
}

.div-block._2._1 {
  height: 180px;
}

.text-block {
  font-weight: 400;
  text-align: left;
}

.values-container {
  margin-top: 250px;
}

.servies-section {
  display: none;
  height: 100%;
  padding-bottom: 100px;
}

.services-grid {
  margin-top: 100px;
  grid-column-gap: 50px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.services-grid._2 {
  margin-top: 220px;
}

.services-grid._3 {
  margin-top: 220px;
}

.div-block-2 {
  height: 400px;
}

.services-type-div {
  color: #b9cec8;
}

.services-body-text {
  font-weight: 400;
}

.services-header-text {
  color: #467c7c;
  font-weight: 900;
}

.heading {
  color: #467c7c;
  font-weight: 900;
}

.heading-2 {
  color: #467c7c;
  font-weight: 900;
}

.values-header-text {
  margin-top: 10px;
  color: #467c7c;
  font-weight: 900;
  text-align: left;
}

.hero-header-text {
  color: #acaec0;
  font-size: 75px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
}

.why-we-matter-section {
  display: none;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.why-we-matter-header {
  margin-bottom: 100px;
  font-weight: 900;
}

.why-we-matter-header._2 {
  margin-bottom: 10px;
}

.text-block-2 {
  color: #bdbdbd;
  font-weight: 800;
  text-align: left;
}

.tab-link-tab-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
}

.tab-link-tab-6:active {
  background-color: rgba(95, 95, 95, 0);
}

.tab-link-tab-6.w--current {
  background-color: #686fc7;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #acaec0;
}

.tab-link-tab-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
}

.tab-link-tab-4.w--current {
  background-color: #686fc7;
}

.div-block-8 {
  height: 100%;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
}

.tab-link-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.tab-link-tab-1:active {
  background-color: transparent;
  color: #fff;
}

.tab-link-tab-1.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  padding-left: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-color: #686fc7;
  color: transparent;
}

.tab-link-tab-1.w--current:active {
  color: #fff;
}

.tabs-content {
  height: 100%;
  margin-left: 100px;
}

.tab-link-tab-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #acaec0;
  text-align: left;
}

.tab-link-tab-3:active {
  background-color: #34aa9b;
}

.tab-link-tab-3.w--current {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #686fc7;
  text-align: center;
}

.process-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab-link-tab-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
}

.tab-link-tab-5:active {
  background-color: rgba(95, 95, 95, 0);
}

.tab-link-tab-5.w--current {
  margin-bottom: 10px;
  border: 0.5px solid #34aa9b;
  background-color: #686fc7;
}

.tab-link-tab-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
  text-align: left;
}

.tab-link-tab-8:active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(95, 95, 95, 0);
  text-align: left;
}

.tab-link-tab-8.w--current {
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #467c7c;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 50px 0px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #686fc7;
  border-radius: 20px;
  box-shadow: none;
}

.tab-link-tab-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(52, 170, 155, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
}

.tab-link-tab-7:active {
  background-color: rgba(95, 95, 95, 0);
}

.tab-link-tab-7.w--current {
  background-color: #686fc7;
}

.text-block-3 {
  font-weight: 500;
}

.partners-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  font-weight: 900;
}

.heading-4 {
  font-weight: 900;
}

.faq-section {
  height: 100%;
  margin-top: 100px;
}

.faq-plus-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pricing-h1 {
  text-align: center;
}

.pricing-h1.faq-h2 {
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.faq-plus-l {
  position: absolute;
  width: 5px;
  height: 100%;
  border-radius: 3px;
  background-color: #34aa9b;
}

.faq-q-text {
  text-transform: capitalize;
}

.faq-plus {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #34aa9b;
}

.faq-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  text-transform: none;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  padding-left: 5vw;
}

.container.faq-container {
  max-width: 900px;
  padding-top: 60px;
  padding-bottom: 80px;
  border: 0.2px none #b9cec8;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0);
  box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.06);
}

.faq-wrap {
  display: block;
}

.link {
  color: #2aa8ff;
  font-weight: 600;
}

.faq-answer-text {
  margin-bottom: 30px;
  font-size: 16px;
}

.faq-answer {
  overflow: hidden;
  padding-left: 45px;
  border-bottom: 1px solid rgba(45, 62, 80, 0.12);
}

.faq-answer.last-faq-answer {
  border-bottom-width: 0px;
}

.contact-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact-section.about {
  background-color: #aec2bc;
}

.link-2 {
  color: #0b2626;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

.link-2.home {
  color: #acaec0;
}

.heading-5 {
  margin-bottom: 5px;
  color: #686fc7;
}

.social-div {
  margin-top: 100px;
}

.link-3 {
  color: #34aa9b;
  font-size: 28px;
  font-weight: 900;
  text-decoration: none;
}

.new-business-div {
  margin-top: 30px;
}

.contact-header {
  color: #0b2626;
  font-size: 80px;
  line-height: 80px;
  font-weight: 900;
}

.contact-header.home {
  color: #acaec0;
}

.contact-div {
  width: 100vw;
}

.contact-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  background-color: #6c6b6b;
}

.container-2 {
  padding-top: 30px;
}

.nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #b9cec8;
  font-weight: 900;
  text-align: left;
}

.nav-link-2 {
  display: block;
  padding: 15px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #686fc7;
  font-size: 18px;
  font-weight: 900;
}

.nav-link-2:hover {
  color: #db8c14;
}

.nav-link-3 {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #b9cec8;
  font-weight: 900;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-proof-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 220vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #b9cec8;
}

.text-block-4 {
  color: #5c4545;
}

.text-block-5 {
  color: #5c4545;
}

.text-block-6 {
  width: 500px;
  margin-bottom: 10px;
  border: 1px none #000;
  color: #686fc7;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
}

.container-3 {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: left;
}

.text-block-7 {
  margin-top: 20px;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #acaec0;
  font-weight: 900;
}

.process-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-link-4 {
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgba(70, 124, 124, 0.21);
  color: #a5a7c4;
  font-size: 18px;
  font-weight: 900;
}

.nav-link-4:hover {
  background-color: #3f4dd1;
}

.text-block-8 {
  color: #acaec0;
  font-size: 18px;
  font-weight: 600;
}

.bold-text {
  color: #34aa9b;
  text-decoration: none;
}

.link-4 {
  text-decoration: none;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-10 {
  width: 900px;
  height: 500px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-2 {
  padding-right: 75px;
  padding-left: 75px;
  grid-column-gap: 100px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.body-2 {
  background-color: #0b2626;
  font-family: proxima-nova, sans-serif;
}

.body-3 {
  background-color: #14184b;
  font-family: proxima-nova, sans-serif;
}

.grid-3 {
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-11 {
  margin-top: 120px;
}

.text-block-9 {
  margin-top: 100px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.image-3 {
  margin-top: -21px;
}

.how-it-works-image {
  margin-bottom: 20px;
}

.image-6 {
  margin-bottom: 10px;
}

.image-7 {
  margin-bottom: 20px;
}

.image-7._1 {
  margin-bottom: 22px;
}

.html-embed {
  margin: 50px;
  padding: 40px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-10 {
  color: rgba(187, 153, 204, 0.93);
}

.paragraph {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .values-grid {
    height: 550px;
    grid-column-gap: 15px;
  }

  .values-grid._1 {
    height: 200px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block._2 {
    height: 200px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block._2._1 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .values-container {
    margin-top: 50px;
  }

  .hero-header-text {
    font-size: 55px;
    line-height: 55px;
  }

  .why-we-matter-header._2 {
    font-size: 34px;
  }

  .pricing-h1.faq-h2 {
    font-size: 32px;
  }

  .faq-answer {
    padding-left: 0px;
  }

  .contact-header.home {
    font-size: 56px;
  }

  .social-proof-section {
    height: 220vh;
  }

  .text-block-6 {
    width: 350px;
    font-size: 26px;
  }

  .container-3 {
    margin-top: 0px;
  }

  .nav-link-4 {
    border-radius: 10px;
    background-color: rgba(70, 124, 124, 0.21);
  }

  .icon {
    color: #b9cec8;
  }

  .icon-2 {
    color: #b9cec8;
  }

  .menu-button-2 {
    color: #0b2626;
  }

  .menu-button-2.w--open {
    background-color: #0b2626;
  }

  .nav-menu-2 {
    background-color: #063a3a;
  }

  .menu-button-3 {
    background-color: #0b2626;
  }

  .nav-menu-3 {
    background-color: #063a3a;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .values-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 350px;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .values-grid._1 {
    height: 80%;
    margin-top: 50px;
  }

  .div-block {
    margin-bottom: 20px;
  }

  .div-block._2 {
    margin-bottom: 30px;
  }

  .div-block._2._1 {
    height: 100%;
    padding-top: 30px;
  }

  .values-container {
    height: 180vh;
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .hero-header-text {
    font-size: 6vw;
    line-height: 120%;
  }

  .why-we-matter-header {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .why-we-matter-header._2 {
    font-size: 28px;
    line-height: 28px;
  }

  .why-we-matter-container {
    height: 100vh;
    padding-right: 20px;
    padding-left: 20px;
  }

  .tabs-menu {
    width: 100%;
  }

  .tab-link-tab-1.w--current {
    width: 100%;
  }

  .tabs-content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
  }

  .tab-link-tab-3 {
    width: 100%;
  }

  .process-section {
    display: block;
    height: 100%;
  }

  .tabs {
    width: 100%;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .faq-section {
    margin-top: 300px;
  }

  .pricing-h1 {
    font-size: 34px;
    line-height: 44px;
  }

  .contact-section {
    height: 100%;
  }

  .contact-div {
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link-2 {
    background-color: #acaec0;
  }

  .social-proof-section {
    height: 270vh;
  }

  .container-3 {
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link-4 {
    border-radius: 0px;
    background-color: #acaec0;
    color: #686fc7;
  }

  .grid-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-block-9 {
    margin-top: 0px;
  }

  .image-2 {
    padding-left: 11px;
  }

  .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button.w--open {
    border-radius: 10px;
    background-color: #2c2577;
  }

  .nav-menu {
    background-color: #063a3a;
  }

  .image-8 {
    width: 75%;
    max-width: 100%;
  }

  .image-9 {
    width: 75%;
    max-width: 100%;
  }

  .div-block-12 {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .container-6 {
    height: 100%;
  }

  .column-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .hero-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .hero-div {
    margin-top: 150px;
  }

  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .hero-button {
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .values-grid {
    height: 100%;
    margin-bottom: 199px;
  }

  .values-grid._1 {
    display: block;
    height: 70%;
    margin-bottom: 0px;
  }

  .div-block._2._1 {
    height: 200px;
    margin-top: 50px;
  }

  .values-container {
    display: block;
    height: 100%;
    margin-top: 300px;
  }

  .servies-section {
    display: none;
  }

  .hero-header-text {
    font-size: 12vw;
    line-height: 120%;
  }

  .why-we-matter-section {
    display: none;
  }

  .text-block-2 {
    color: #acaec0;
  }

  .tab-link-tab-6 {
    width: 100%;
  }

  .tabs-menu {
    width: 100%;
  }

  .tab-link-tab-4 {
    width: 100%;
  }

  .tab-link-tab-1.w--current {
    width: 100%;
  }

  .tabs-content {
    margin-top: 20px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .tab-link-tab-3 {
    width: 100%;
  }

  .process-section {
    display: block;
    height: 100%;
    padding: 74px 5vw 50px;
  }

  .tab-link-tab-5 {
    width: 100%;
  }

  .tabs {
    margin-top: 20px;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tab-link-tab-7 {
    width: 100%;
  }

  .faq-section {
    margin-top: 300px;
  }

  .container.faq-container {
    width: 95%;
  }

  .contact-section {
    height: 100%;
    margin-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .link-2.home {
    font-size: 20px;
  }

  .contact-header.home {
    font-size: 34px;
  }

  .contact-div {
    width: 95vw;
  }

  .contact-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-link-2 {
    background-color: #063a3a;
  }

  .brand {
    margin-top: 0px;
    padding-left: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .social-proof-section {
    height: 320vh;
  }

  .text-block-6 {
    width: auto;
    font-size: 18px;
    line-height: 120%;
  }

  .container-3 {
    height: 100vh;
    margin-top: 500px;
    margin-bottom: 0px;
  }

  .text-block-7 {
    color: #acaec0;
  }

  .heading-6 {
    margin-bottom: 0px;
    font-size: 6vw;
    line-height: 120%;
  }

  .nav-link-4 {
    border-radius: 0px;
    background-color: #063a3a;
  }

  .text-block-8 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 16px;
  }

  .grid-3 {
    justify-items: start;
    grid-column-gap: 50px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block-11 {
    margin-top: 75px;
  }

  .text-block-9 {
    display: none;
    font-size: 14px;
  }

  .image-2 {
    width: 90%;
    padding-left: 0px;
  }

  .image-4 {
    max-width: 80%;
  }

  .image-5 {
    max-width: 80%;
  }

  .menu-button {
    background-color: rgba(63, 63, 63, 0);
  }

  .menu-button.w--open {
    background-color: #0b2626;
  }

  .image-9 {
    padding-top: 34px;
    padding-bottom: 35px;
  }
}

#w-node-2e1c66222656-818095ab {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-874e1e621a81-818095ab {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-32734ab64a20-818095ab {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

